.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #f2f2f2;
  margin-bottom: 100px;
}

.site-icon a {
  text-decoration: none;
  font-size: 32px;
  color: black;
  align-items: center;
  padding: 8px;
  flex-grow: 1;
}

.navbox {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #c9a5f8;
  width: 80%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  padding: 8px;
  gap: 32px;
  /* width: 100%; */
  flex-grow: 2;

  @media (max-width: 800px) {
    display: none;
  }
}

.container {
  display: none;
  height: 100%;
  align-items: end;
  justify-content: flex-end;
  flex-grow: 1;

  @media (max-width: 800px) {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.dropdown-menu {
  @media (min-width: 800px) {
    display: none;
  }
  height: 100%;
}

.dropdown {
  display: flex;
  overflow: hidden;
  transition: height 0.4s;
}

.nav-hamburguer {
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

.nav-hamburguer label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

.nav-hamburguer label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: black;
  transition: 0.23s ease-in-out;
}

.nav-hamburguer label span:nth-child(1) {
  top: 0px;
}

.nav-hamburguer label span:nth-child(2) {
  top: 8px;
}

.nav-hamburguer label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  top: 8px;
  transform: rotate(-45deg);
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  top: 8px;
  transform: rotate(45deg);
}

.nav-item a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #652e85cf; */
  padding: 10px;
  width: 80%;
}

.test {
  display: flex;
  width: 100%;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 22px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
