* {
  padding: 0px;
  margin: 0px;
}

body {
  min-width: 375px;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 100px;
}

.site-icon a {
  text-decoration: none;
  font-size: 32px;
  color: black;
  align-items: center;
  padding: 8px;
  flex-grow: 1;
}

.navbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #c9a5f8;
  width: 80%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  padding: 8px;
  gap: 32px;
  flex-grow: 2;

  @media (max-width: 800px) {
    display: none;
  }
}

.menu-hamburguer {
  display: none;
  height: 100%;
  align-items: end;
  justify-content: flex-end;
  flex-grow: 1;

  @media (max-width: 800px) {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.dropdown-menu {
  @media (min-width: 800px) {
    display: none;
  }
  height: 100%;
}

.dropdown {
  margin-top: 16px;
  display: flex;
  overflow: hidden;
  transition: height 0.4s;
}

.nav-hamburguer {
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

.nav-hamburguer label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

.nav-hamburguer label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: black;
  transition: 0.23s ease-in-out;
}

.nav-hamburguer label span:nth-child(1) {
  top: 0px;
}

.nav-hamburguer label span:nth-child(2) {
  top: 8px;
}

.nav-hamburguer label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  top: 8px;
  transform: rotate(-45deg);
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  top: 8px;
  transform: rotate(45deg);
}

.nav-item a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.intro-section {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px;
  width: 400px;
}

.profile-img {
  align-items: center;
}

.profile-img img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.test {
  display: flex;
  width: 100%;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 22px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
